body {
    background-color: #dcdcdc;
}
input {
    max-width: 50px;
}
#generated-password{
    font-size: 24px;
}
#numIncludeChecked:checked ~ #number-input{
    display: inline-block;
    opacity: 0;
    animation: fadein .5s linear forwards;
}
#number-input{
    display: none;
}
#symbolIncludeChecked:checked ~ #symbol-input{
    display: inline-block;
    opacity: 0;
    animation: fadein .5s linear forwards;
}
#symbol-input{
    display: none;
}

@keyframes fadein {
    100% { opacity: 1; }
}

.form-group label{
    font-size: 18px;
}
.container {
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    max-width: 75%;
}

.xkcd-img {
    height: 350px;
}

#generated-password {
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    max-width: 100%;
    overflow: auto;
    border-radius: 25px;
}